<!--TODO: Doesn't belong here to be moved in user views directory-->

<h1>My Meetups</h1>
<br/>
<h2>Created meetups</h2>
<br/>
<h2>Meetups I am participating</h2>
<br/>

<%= link_to 'Create a new group', new_group_path %>